# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Model artifacts (optional to ignore later, for now keep tracked if you want)
# *.pkl
